@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Travel Reviews</h1>
    <p>Click here for a list of <a href="/reviews">reviews</a> from our Users travels</p>
</div>
